################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NorbitCsCourse
/1/obj
/2/obj
/3/obj
